@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #131313;
    --darkgray: #292929;
    --gray: #494949;
    --lightgray: #707070;
    --ultralightgray: #a3a3a3;
    --blue: #0030cc;
    --lightblue: #3053c7;
    --ultralightblue: #627ac9;
    --fundo: #f7fbff;
}

.suporte_container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 20vh 80vh;
    justify-items: center;
    align-items: center;
    position: relative;
}

.nav_suporte_container{
    grid-row: 1/3;
    width: 90%;
    height: 95vh;
    background-color: var(--darkgray);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav_suporte_container h1{
    color: white;
    margin: 0 auto;
    width: 80%;
}
.nav_list{
    height: 80vh;
    width: 90%;
}
.nav_list h2{
    color: var(--ultralightblue);
}
.nav_list a, .nav_list button{
    color: var(--ultralightgray);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.nav_list button{
    background: transparent;
    border: 0;
    font-size: 1rem;
}
.nav_list a:hover, .nav_list button:hover{
    transform: scale(1.025);
}

.modal{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 50%;
    max-height: 80vh;
}
.historico_container{
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 40% 60%;
}
.historico_image{
    width: 90%;
}
.historico_image img{
    width: 100%;
}

.titulo_sessao_container{
    font-size: 2rem;
    justify-self: self-start;
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-rows: 15vh 5vh;
}
.titulo_sessao_container h1{
    margin-left: 4vw;
    align-self: flex-end;
}
.sessao_videos_container{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sessaoname{
    position: absolute;
    align-self: flex-end;
    top: 12vh;
    right: 20px;
}
.videos_container{
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 40% 60%;
}
.videos_container hr:last-of-type{
    display: none;
}
.divisor_video{
    grid-column: 1/3;
}
.videoimagem_container{
    position: relative;
}
.videoimagem_container img{
    width: 90%;
    height: auto;
}
.videodesc_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videodesc_container h2{
    font-size: 1.7rem;
    height: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 95%;
    -webkit-line-clamp: 1;
    margin-bottom: 2vh;
} .videoDescricao{
    font-size: 1.3rem;
    font-weight: 300;
    height: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 95%;
    -webkit-line-clamp: 4;
} .video_estatistic_container{
    font-size: 1.3rem;
    font-weight: 300;
}
.video_estatistic_container{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    align-self: center;
} .video_estatistic_container p{
    display: flex;
    align-items: center;
    color: var(--lightgray);
    font-weight: 500;
}
.favoritar, .desfavoritar{
    padding: 15px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
}
.favoritar:hover {
    background-color: var(--ultralightblue);
    color: white;
}
.favoritar:active, .desfavoritar:active{
    color: #ffd700;
}
.desfavoritar:hover{
    background-color: rgb(255, 87, 87);
    color: white;
}

.alert_favorite{
    position: absolute;
    top: 50%;
}
.Video_video{
    display: flex;
    border-radius: 30px;
}


@media screen and (max-width:1290px){
    .modal{
        width: 80%;
    }
    .videos_container{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .videoimagem_container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    .videoimagem_container img{
        width: 450px
    }
    .videoDescricao{
        -webkit-line-clamp: 2;
    }
    .divisor_video{
        width: 90%;
    }
}
@media screen and (max-width:1000px) {
    .titulo_sessao_container{
        font-size: 1.5rem;
    }
    .sessaoname{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .historico_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .historico_image{
        background-color: black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .historico_image img{
        width: 250px;
    }
    .suporte_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .titulo_sessao_container{
        display: flex;
        flex-direction: column;
        height: 10%;
        align-items: center;
    } .titulo_sessao_container h1{
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .nav_suporte_container{
        display: flex;
    }
    .sessao_videos_container{
        height: 80%;
    }
    .navSuporteQuery{
        border-radius: 10px;
        width: 90%;
        overflow-x: scroll;
        position: absolute;
        top: 9vh;
        z-index: 5;
    }
    .favoritar, .desfavoritar{
        padding: 15px;
        border-radius: 10px;
        transition: all 0.1s ease;
        cursor: pointer;
        user-select: none;
    }
    .favoritar:hover, .desfavoritar:hover {
        background-color: rgba(255, 255, 255, 0);
        color: var(--lightgray);
    }
    .favoritar:active{
        color: #ffd700;
        background-color: var(--ultralightblue);
    } .desfavoritar:active{
        color: #ffd700;
        background-color: rgb(255, 87, 87);
    }
}
@media screen and (max-width: 560px) {
    .modal{
        width: 90%;
    }
    .navSuporteQuery span {
        font-size: 0.7rem;
    }
    .videoimagem_container img{
        width: 300px;
    }
}