:root{
    --black: #131313;
    --darkgray: #292929;
    --gray: #494949;
    --lightgray: #707070;
    --ultralightgray: #a3a3a3;
    --blue: #0030cc;
    --lightblue: #3053c7;
    --ultralightblue: #627ac9;
    --fundo: #f7fbff;
}

.simulacao_container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--darkgray);
}

.molde_image{
    width: 150px;
}

.moldeModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    transition: all 0.5s ease;
}

.selectSection{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
.section_container{
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 15px var(--darkgray);
}
.section_container section{
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: relative;
}
.section_container section img{
    width: auto;
    height: 180px;
    position: absolute;
}
.section_container section div{
    background: linear-gradient(white, white, white, transparent, transparent);
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}
.icones{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.icones img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.icones p{
    font-size: 1.2rem;
    font-weight: bold;
}

.produto_input{
    width: 120px;
    height: 120px;
}
.produto_input input{
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border-radius: 20px;
}
.produto_input input:checked + label{
    border: 4px solid var(--ultralightblue);
}
.produto_input label{
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.produto_input img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.icons_section{
    width: 40px;
}

.stepbutton span{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Completed{
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 48, 204, 0.459);
    z-index: 3;
}

.sel_prod_container{
    display: grid;
    grid-template-columns: 150px 1fr;
    height: 150px;
    align-items: center;
    text-align: end;
}
.sel_prod_container img{
    justify-self: center;
}

.resultadoSimulacao_container{
    flex-direction: column;
}

.moldeBox{
    background: linear-gradient(0.3turn,var(--ultralightblue), var(--blue));
}
.moldeBox::-webkit-scrollbar{
    height: 20px;
}
.moldeBox::-webkit-scrollbar-track{
    border-radius: 0px 0px 9px 9px;
    overflow: hidden;
}
.moldeBox::-webkit-scrollbar-thumb{
    background-color: rgb(168, 168, 168);
    border-radius: 15px;
    border: solid 5px var(--lightgray);
}