:root{
    --black: #131313;
    --darkgray: #292929;
    --gray: #494949;
    --lightgray: #707070;
    --ultralightgray: #a3a3a3;
    --blue: #0030cc;
    --lightblue: #3053c7;
    --ultralightblue: #627ac9;
    --fundo: #f7fbff;
}

.simulacao_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.molde_image{
    width: 150px;
}

.moldeModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.selectSection{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.section_container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 1px solid var(--blue);
    border-radius: 15px;
}
.section_container div{
    width: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.section_container div img{
    width: 300px;
    height: auto;
    
}

.produto_input{
    width: 150px;
    height: 150px;
}
.produto_input input{
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border-radius: 20px;
}
.produto_input input:checked + label{
    border: 2px solid var(--ultralightblue);
}
.produto_input label{
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
.produto_input img{
    width: 135px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}