:root{
    --black: #131313;
    --darkgray: #292929;
    --gray: #494949;
    --lightgray: #707070;
    --ultralightgray: #a3a3a3;
    --blue: #0030cc;
    --lightblue: #3053c7;
    --ultralightblue: #627ac9;
    --fundo: #f7fbff;
}

.simulacao_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.molde_image{
    width: 150px;
}

.moldeModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.selectSection{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
.section_container{
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 15px var(--darkgray);
}
.section_container section{
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: relative;
}
.section_container section img{
    width: auto;
    height: 180px;
    position: absolute;
}
.section_container section div{
    background: linear-gradient(white,white,transparent);
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}
.section_container p{
    margin:0 0 20px 0;
    position: absolute;
    z-index: 2;
    font-weight: 300;
    font-size: 1.1rem;
}

.produto_input{
    width: 150px;
    height: 150px;
}
.produto_input input{
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border-radius: 20px;
}
.produto_input input:checked + label{
    border: 2px solid var(--ultralightblue);
}
.produto_input label{
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
.produto_input img{
    width: 135px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.icons_section{
    width: 40px;
}