@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #131313;
    --darkgray: #292929;
    --gray: #494949;
    --lightgray: #707070;
    --blue: #0030cc;
    --lightblue: #3053c7;
    --fundo: #f7fbff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fundo);
    font-family: 'Work sans',sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

#root{
    width: 100%;
    height: 100vh;
}

.nav_container{
    display: grid;
    align-content: center;
    grid-template-columns: 57% 43%;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: flex-end;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--black);
    padding: 0 10% 0 10%;
}
.nav_container h1{
    display: flex;
    font-size: 3.5rem;
    color: white;
}
.conta_container{
    display: flex;
    width: 20px;
    height: 20px;
    justify-self: flex-end;
}

.menu_container{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu_esquerdo_container,.menu_direito_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
} .menu_esquerdo_container{ 
    width: 40%;
    height: 70vh;
    justify-content: space-between;

}.menu_direito_container{
    background-color: white;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 10px 50px -20px var(--black);
    height: 70vh;
    padding: 20px;
}
.menu_esquerdo_container h1,.menu_direito_container h1{
    font-size: 2.6rem;
}

.inicio_esquerdo,.after_esquerdo{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 50px -20px var(--black);
    padding: 15px;
}

.inicio_esquerdo{
    justify-content: space-evenly;
}
.inicio_esquerdo p{
    font-size: 1.5rem;
    margin: 2vh 4% 3vh 4%;
}
.btn_accountainer{
    width: 80%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3vh;
} .btn_create,.btn_enter{
    width: 38%;
    height: 100%;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
} .btn_create{
    background-color: var(--blue);
    color: white;
} .btn_enter{
    border: solid 2px var(--lightgray);
    color: var(--lightgray);
}
.btn_create:hover,.btn_enter:hover{
    transform: scale(1.1);
}

.after_esquerdo h2{
    font-size: 1.8rem;
    margin-bottom: 2vh;
}
.after_esquerdo ul{
    margin: auto;
    width: 90%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.after_esquerdo ul li{
    border-radius: 10px;
    height: 50px;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.after_esquerdo ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.desc_direito{
    margin: 2vh 0 5vh 0;
    font-size: 1.5em;
}
.sobre_container{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.section_content{
    width: 90%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
.image_sobre_container{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 17vh;
    top: 4vh;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#Image_sobre{
    width: 100%;
    opacity: 60%;
    position: absolute;
}
.image_sobre_container div{
    background: linear-gradient(white,white,transparent);
    position: absolute;
    width: 100%;
    height: 100%;
}
#Titulo_sobre,#Desc_sobre{
    z-index: 2;
    padding: 10px;
} 